<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="p-3 mb-2 bg-info text-white">
        <div class="container-fluid">
        
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    List of Toys
                
                </a>
        
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/error">Error</a></li>
                    <li><a href="/uploadData">uploadData</a></li>
                    <li><a href="/postData">postData</a></li>
                    
                </ul>
            </div>
        
        </div>
    </div>
</nav>