<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <!-- CSS should be in a file -->
    <style>
    .jumbotron
    {
      background-color:skyblue;
    }
    </style>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
 
  <div class="jumbotron">
      
      <h1>Hello</h1>
      <br>
      <p>Welcome to the toy list</p>
  
</div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>